/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.wak_space {
       word-spacing: 5em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > label {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.thaitext.curvy {
    font-family: 'Srisakdi', cursive;
    unicode-range: U+0E00 –U + 0e7f;
}


.thaitext {
    font-family: 'Kanit', sans-serif;
    unicode-range: U+0E00 –U + 0e7f;
}


.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 2em;
  height: 2em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}